.stream-events {
  display: flex;
  flex-direction: column-reverse;
  max-width: 100%;

  @keyframes grow-item {
    0% {
      margin-bottom: 0;
      max-height: 0;
      // opacity: 0;
      transform: translateX(-100%);
    }

    100% {
      margin-bottom: 2rem;
      max-height: 10rem;
      // opacity: 1;
      transform: translateX(0);
    }
  }

  li {
    animation-duration: 1s;
    animation-fill-mode: backwards;
    animation-name: grow-item;
    margin-bottom: 2rem;
    max-width: 100%;
    opacity: 1;
    transition-duration: 1s;
    transition-delay: 0;
    transition-property: max-height, opacity;
    will-change: opacity;

    > .nes-container.is-dark.is-rounded {
      animation-duration: 1s;
      animation-fill-mode: backwards;
      animation-name: fade-in;
      background-color: #0093c7;
      border-image-outset: 2;
      display: flex;
      justify-content: space-between;
      margin: 0 0.25em;
      padding: 1rem;
      width: calc(100% - 0.5em);

      span {
        max-width: 70%;
        white-space: nowrap;
        
        &.name {
          overflow: hidden;
          text-overflow: ellipsis;
        }

        &.message {
          margin-left: 2rem;
        }
      }
    }

    &:nth-last-child(n + 2) {
      opacity: 0.3;
    }

    &:nth-last-child(n + 3) {
      opacity: 0.1;
    }

    &:nth-last-child(n + 4) {
      margin-bottom: 0;
      max-height: 0;
      opacity: 0;
    }
  }
}